.home {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .home .title {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: "Righteous", cursive;
    color: #ffffff;
  }
  
  .home .title p {
    line-height: 50px;
  }
  .home .title .developer{
    position: relative;
    width: 60%;
    font-size: 3vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
  }
  .home .title .developer::before{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color:#01fe87;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #01fe87;
    overflow:hidden;
    animation:animate 4s linear infinite;
  }
  @keyframes animate {
      0%,10%,100%{
        width:0;
      }
      70%,90%{
        width:100%
      }
  }
  .home .title button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 999px;
    background-color: #3f71f4;
    font-family: "Righteous", cursive;
  }
  .home .title a{
      text-decoration: none;
      color: #ffffff;
  }
  
  .home .person {
    width: 100%;
    margin-top: 20px;
  }
  
  .home .person img {
    width: 50%;
    border-radius: 50%;
    padding: 20px;
  }
  .allSection{
    display: block;
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 6px;
    margin-top: 25px;
    box-shadow: -4px 4px 13px 4px gray;
}

  @media (min-width: 800px) {
    .home {
      flex-direction: row;
      justify-content: space-between;
    }
    .home .title,
    .home .person {
      width: 50%;
      margin-top: 0;
      text-align: left;
      font-size: 25px;
    }
    .home .person img {
      width: 100%;
    }
  }